/Primer Script de Prueba y filtro por marcas blancas.py
/Prueba BBDD.py
/Prueba con Selenium.py
/Prueba CSV y correcion de etiquetas en blanco.py
/Prueba Final BBDD.py
/Prueba para iterar sobre cada pagina de la web.py